# Google Cloud Settings
GOOGLE_CLOUD_PROJECT=""
GOOGLE_APPLICATION_CREDENTIALS=""
GOOGLE_API_KEY=""

# Firebase Settings
FIREBASE_ADMIN_CLIENT_EMAIL=""
FIREBASE_ADMIN_PRIVATE_KEY=""
STORAGE_BUCKET=""

# Next.js Firebase Config
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=""
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=""

# WebSocket Settings
NEXT_PUBLIC_WEBSOCKET_URL="ws://localhost:8000/session"
WEBSOCKET_HOST="0.0.0.0"
WEBSOCKET_PORT="8000"

# Firestore Settings
FIRESTORE_COLLECTION="sessions"
FIRESTORE_CHAT_COLLECTION="RVSessionChats"
FIRESTORE_RECORDS_COLLECTION="stargate_records"

# Vertex AI Settings
VERTEX_AI_LOCATION="us-central1"
VERTEX_AI_EMBEDDING_MODEL="textembedding-gecko@003"
VERTEX_AI_CHAT_MODEL="gemini-1.5-pro"
VERTEX_AI_IMAGE_MODEL="imagegeneration@005"

# RAG Settings
RAG_DOCUMENTS_PATH="stargate_documents"